<!DOCTYPE html>
<html lang="es" dir="ltr">
<head>
    <meta charset="UTF-8" />
    <title>Chocobo Color Calculator</title>
    <meta name="title" content="Chocobo Color Calculator">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Get them chocobos the proper fruit">
    <link rel="alternate" href="chocobo.app" hreflang="es" />
</head>
<body>
    <div id="root"></div>
</body>
</html>